<div class="container">
  <div class="jumbotron" style="min-height: 500px; border-radius: 0 0 5px 5px;">
    <h2 style="color: white; text-align: center; margin-top: 300px; text-shadow: 0 0 10px black; font-size: 44px; line-height: 55px;">
      Come home to a happy,<br/>well behaved dog
    </h2>
  </div>
</div>

<section class="main-section">
  <div class="container">
    <div class="row">

      <p class="lead" style="padding: 0 0 30px 0; text-align: center; font-size: 20px">
        Good Dog Day Training offers dog training and dog walking in Melbourne’s South-Eastern suburbs,<br/>so life with your best friend is as fun and easy as it should be.
      </p>

      <div class="col-xs-4" style="text-align: center">
        <a href="<%= private_training_page_url %>" style="display: block;">
          <%= image_tag "private_training.jpg", style: "width: 100%" %>
          <h2>Private Training</h2>
        </a>
      </div>

      <div class="col-xs-4" style="text-align: center">
        <a href="<%= day_training_page_url %>" style="display: block;">
          <%= image_tag "day_training.jpg", style: "width: 100%" %>
          <h2>Day Training</h2>
        </a>
      </div>

      <div class="col-xs-4" style="text-align: center">
        <a href="<%= walking_page_url %>">
          <%= image_tag "walking.jpg", style: "width: 100%" %>
          <h2>Dog Walking</h2>
        </a>
      </div>
    </div>

  </div>
</section>
